# Dependencies
node_modules/

# Build outputs
dist/
out/

# electron-builder
dist_electron/

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.*

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS
.DS_Store
Thumbs.db

# TypeScript cache
*.tsbuildinfo

# Vite cache
.cache/