@import 'tailwindcss';

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
  background: transparent;
  user-select: none;
}

button,
input,
textarea {
  font: inherit;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #fff8df;
  border-left: 2px solid #272522;
}

::-webkit-scrollbar-thumb {
  background: #f08d65;
  border: 2px solid #272522;
}
